{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<form method="POST" action="/update/{{ student.id }}">
    {% csrf_token %}
    <label for="fname" class="form-label">Fisrtname</label>
    <input type="text" id="fname" class="form-control" name="firstname" value="{{student.firstname }} "required="required">

    <label for="lname" class="form-label">Lastname</label>
    <input type="text" id="lname" class="form-control" name="lastname" value="{{student.lastname }}" required="required">

    <label for="email" class="form-label">Email</label>
    <input type="text" id="email" class="form-control" name="email" value="{{student.email }}" required="required">

    <button type="submit">Update</button>
</form>

</body>
</html>

{% endblock %}